/* Стили для меню */
.menu {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.7); /* Полупрозрачный фон для меню */
  padding: 10px 0; /* Отступы сверху и снизу */
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1000;
}

.menu-item {
  color: white;
  text-decoration: none;
  font-size: 1rem;
  margin: 0 15px; /* Отступы между элементами меню */
  transition: color 0.3s;
}

.menu-item:hover {
  color: #66b2ff; /* Изменение цвета текста при наведении */
}

/* Общие стили для приложения */
.App {
  text-align: center;
}

.background-image {
  width: 100%;
  height: 100vh;
  background-size: cover;
  background-position: center;
}

.overlay {
  background: rgba(0, 0, 0, 0.5);
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Общие стили для контейнеров */
.content-container {
  color: white;
  text-align: left; /* Выравнивание текста по левому краю */
  max-width: 800px; /* Устанавливаем максимальную ширину контейнера, чтобы текст не растягивался на всю ширину */
  margin: 0 auto; /* Центрирование контейнера по горизонтали */
  padding: 20px; /* Добавляем внутренние отступы */
}

.headline-1 {
  font-size: 3rem; /* Увеличиваем размер шрифта */
  margin: 0 0 10px 0; /* Отступ снизу */
}

.headline-2 {
  font-size: 2rem; /* Увеличиваем размер шрифта */
  margin: 0; /* Убираем стандартные отступы */
}

.booking {
  margin-top: 20px;
}

/* Стили для формы */
.form-row {
  display: flex;
  flex-direction: row; /* Изменено с column на row для горизонтального расположения */
  justify-content: center; /* Выравниваем элементы по центру */
  gap: 15px; /* Добавляем промежуток между элементами */
}

.form-group {
  margin-bottom: 15px;
  display: flex;
  flex-direction: column; /* Оставляем вертикальное расположение внутри form-group */
  align-items: flex-start;
}

label {
  margin-bottom: 5px;
}

input[type="text"],
input[type="number"] {
  width: 200px;
  padding: 8px;
  box-sizing: border-box;
  font-size: 1rem;
  border-radius: 4px;
  border: 1px solid #ccc;
}

.search-button {
  width: 100px; 
  height: 30px;
  padding: 0; 
  font-size: 0.75rem; 
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.search-button:hover {
  background-color: #0056b3;
}

/* Стили для подвала */
.footer {
  background-color: rgba(0, 0, 0, 0.7); /* Полупрозрачный черный фон */
  color: white;
  text-align: center;
  padding: 10px 0; /* Уменьшаем верхний и нижний отступ */
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  z-index: 1000;
  font-size: 0.875rem; /* Уменьшаем размер шрифта */
}

.footer a {
  color: #66b2ff;
  text-decoration: none;
}

.footer a:hover {
  text-decoration: underline;
}

.footer-info {
  margin: 0; /* Убираем отступы внутри подвала */
}
